<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DWELLIO</title>
</head>
<body>
    <h1>DWELLIO</h1>
    <h3>All Listings</h3>
    <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form>
</body>
</html>

<ul>
    <%for(let listing of allListings){%>
    <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
    <%}%>
</ul>


