<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DWELLIO</title>
</head>
<body>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="Title">
        <br>
        <textarea name="listing[description]" placeholder="Description" type="text" ></textarea>
        <br>
        <input type="number" name="listing[price]" placeholder="Price"  type="number">
        <br>
        <input type="text" name="listing[location]" placeholder="Location" type="text">
        <br>
        <input type="text" name="listing[country]" placeholder="Country" type="text">
        <br>
        <button>Add Listing</button>
    </form>
</body>
</html>