<% layout("layouts/boilerplate") %>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="Title">
        <br>
        <textarea name="listing[description]" placeholder="Description" type="text" ></textarea>
        <br>
        <input type="number" name="listing[price]" placeholder="Price"  type="number">
        <br>
        <input type="text" name="listing[location]" placeholder="Location" type="text">
        <br>
        <input type="text" name="listing[country]" placeholder="Country" type="text">
        <br>
        <button>Add Listing</button>
    </form>